
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html, body{ 
   margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #212428;
}


/* Navbar */

.navbar{
    position: fixed;  display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    z-index: 999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease;
}


.sticky{
  background: rgba(33, 36, 40, .9);
  box-shadow: 0 4px 20px 0 rgba(10, 10, 10, .8);
  position: fixed;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 67.5%;
}

.navbar .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
 
    
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}


.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    height: 100%; 
    padding: 30px 15px;
    animation: fade-navbar 1s linear;
    transition: all 0.5s ease;
}

.navbar .menu li a {
    
display: inline-block;
position: relative; 
}

.navbar .menu li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 25%;
    left: 0;
    background-color: #53C9CC;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
  }
  
  .navbar .menu li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
  }
  .menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* Home */


#main{
  width: 100%;
  height: 100vh;
  background: url('https://wallpapercave.com/wp/wp8012808.jpg');
  background-size: cover;
  background-position-y: bottom;
  background-position-x: right;
    /* background-attachment: fixed; */
  /* background: url(bg.png) center bottom / cover; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#main .max-max-width{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: hue-rotate(194deg);
}

#main .max-width{
  z-index: 2;
  width: 67.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.heading-container{
  width: 45%;
  height: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container{
  width: 50%;
  display: none;
  justify-content: flex-end;
  align-items: center;
  height: 62.5%;
  border-radius: 100%;
}

#main .image{
  height: 100%;
  width: 100%;
  background: url('expirement.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.heading-container h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 3.5rem;
  text-shadow: black 2px 5px 50px;
  white-space: nowrap;
}

.heading-container p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  /* text-shadow: black 2px 5px 50px; */
}


.membercount{
  opacity: 0;
  
}

.visible{
  opacity: 1;
}

.heading-container h2{
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(255, 255, 255);
  font-size: 2.25rem;
}

.heading-container h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(255, 255, 255);
  font-size: .95rem;
  font-weight: 600;
}

.buttons{
  width: 100%;
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.buttons a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #53C9CC;
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  outline: 0;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 40px;
  font-size: 14px;
  border: none;
  /* box-shadow:  black 2px 5px 50px;; */
  transition: 0.3s;
}

.buttons a:hover{
  background-color: #1c1f23;

}

/* about */


#about-us{
  width: 100%;
  /* height: 100vh; */
  background: #212428;
  /* background: url(bg.png) center bottom / cover; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5%;
}

#about-us  .max-width{
  z-index: 2;
  width: 67.5%;
  height: 100%;
}


#about-us h1{
  margin-top: 5rem;
  color: #fff;
  font-size: 2.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about-us .block{
  margin-top: 1rem;
  width: 100%;
  background: rgba(255, 255, 255, .025); 
     border-top: solid 1px rgba(255, 255, 255, .1);
     box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
     padding: 50px;
     border-radius: 6px;
    }

    #about-us .block h2{
      color: #fff;
      font-size: 1.5rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #about-us .block p{
      font-size: 1.125rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #a2a2a2;
      transition: all 0.3s ease;
    }

    #about-us .block:hover p{
      color: #fff;
    }


/* solliciterne */


#solliciteren{
  width: 100%;
  /* height: 100vh; */
  background: #212428;
  /* background: url(bg.png) center bottom / cover; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5%;
  
}

#solliciteren  .max-width{
  z-index: 2;
  width: 67.5%;
  height: 100%;
}




#solliciteren h1{
  margin-top: 5rem;
  color: #fff;
  font-size: 2.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#solliciteren .grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#solliciteren .block{
  margin-top: 1rem;
  width: 100%;
  background: rgba(255, 255, 255, .025); 
     border-top: solid 1px rgba(255, 255, 255, .1);
     box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
     padding: 50px;
     border-radius: 6px;
     
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     cursor: pointer;
     transition: all 0.3s ease;
    }

    #solliciteren .block:hover{

      transform: translateY(-10px);
    }

    #solliciteren .block .image{
      height: 100%;
      display: flex;
      align-items: center;
    }

    #solliciteren .block img{
      width: 100%;
    }

    #solliciteren .block .text{
      margin-top: 15%;
    }


    #solliciteren .block h2{
      color: #fff;
      font-size: 1.5rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #solliciteren .block p{
      margin-top: 5%;
      font-size: 1.125rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #fff;
      transition: all 0.3s ease;
      font-weight: 600;
    }

    #solliciteren .block:hover p{
      color: #fff;
    }


    footer{
      background: rgba(255, 255, 255, .025);
      border-top: solid 1px rgba(255, 255, 255, .1);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    footer  .max-width{
      z-index: 2;
      width: 67.5%;
      height: 100%;
    }


    footer .grid{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }



    footer .column{
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
    }

    footer .column h3{
      color: #fff;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin-bottom: 1rem;
    }

    footer .column a{
      font-size: 1.125rem;
      margin-bottom: 10px;
      text-decoration: none;
      color: #a2a2a2;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    .subfooter{
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: solid 1px rgba(255, 255, 255, 0.1);
      padding: 20px 0 20px 0;
      width: 100%;
    }

    .subfooter p{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
      color: #fff;
    }

    .subfooter p a{
      background-image: linear-gradient(214deg, #ff285c, #b010fb);
      background-clip: text;
      -webkit-text-fill-color: transparent;
text-decoration: underline;
    }

    .subfooter p span{
      position: relative;
    }
    .subfooter p a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px; /* Adjust based on your text size */
        width: 100%;
        height: 1px; /* Thickness of the underline */
        background-image: linear-gradient(214deg, #ff285c, #b010fb);
        z-index: 3;
    }


    @media only screen and (max-width: 1806px) {
      .image-container{
        display: none;
      }

      .navbar .max-width{
        justify-content: center;
      }

      .heading-container{
        justify-content: center;
        text-align: center;
      }

      .heading-container .buttons{
        justify-content: center;
      }

      .heading-container{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    @media only screen and (max-width: 1032px) {
      
      .navbar .max-width{
        justify-content: flex-end;
      }
      .heading-container{
        display: flex;
        width: 100%;
        white-space: normal;
      }

      .heading-container h1{
        white-space: normal!important;
      }
    .grid{
      grid-template-columns: repeat(2, 1fr)!important;
    }

    .navbar .max-width{
      width: 100%;

    }

    .navbar .menu{
      display: block;
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }

  .navbar .menu li{
      display: block;
  }

  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }

  .menu-btn{
      display: block;
      z-index: 999;
      /* position: absolute; */
      /* top: 20%; */
      /* right: 10%; */
      margin-right: 5%;
      padding: 5%;
  }


  .menu-btn i.active:before{
      content: '\f00d' ;
  }


  .navbar .menu.active{
      left: 0;
  }

  #main .max-width{
    width: 95%;
  }
    }

    @media only screen and (max-width: 811px) {
    
      .buttons {
        flex-direction: column;
       width: 50%; 
       justify-content: center;
      }

      
    }
 @media only screen and (max-width:  696px) {
    
  #main .max-width{
    align-items: first baseline;
  }

  #main {
    height: 75vh;
  }

  .heading-container h1{
    font-size: 2.5rem;
  }

  .heading-container p{
    font-size: .75rem;
  }

  .buttons{
    width: 75%;
  }
  .buttons a{
    font-size: .75rem;
    padding: 8px 40px;
  }
      
  .heading-container{
    position: relative;
  }

  .visible{
    position: absolute;
    bottom: -50%;
  }
    }

    
    @media only screen and (max-width: 500px) {
      .grid{
        grid-template-columns: repeat(1, 1fr)!important;
      }

      #about-us .max-width{
        width: 95%;
      }

      #solliciteren .max-width{
        width: 95%;
      }

      .heading-container h1{
        font-size: 2rem;
      }
    
   
    }